html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  text-align: center;
}

#hero {
  background-color: #C2BCAE;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 2000px;

}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-size: 67.34px;
  margin: 10px auto;
  margin-top: 32px;
}

#title{
  font-family: 'Playfair Display';
  font-weight: 900;

}

h3 {
  font-family: 'Roboto Flex';
  font-size: 22.43px;
}

#description {
  margin-top: 0px;
  margin-bottom: 28px;
}

#hero_showcase {
  display: flex;
  justify-content: space-around;
  width: 920px;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 22px;
}

.card {
  background-color: white;
  opacity: 70%;
  border-radius: 4px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  animation-name: card;
  transition: 0.5s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.36,
    0.72,
    0.63,
    0.98);
}

#c1, #c3 {
  width: 216px;
  height: 328px;

}

#c2 {
  width: 380px;
  height: 440px;
}

#buttons_container {
  display: flex;
}

a {
  color:black;
  text-decoration: none;
  padding: 8px 28px;
  border: 3px solid #CA3F72;
  font-size: 16px;
  transition: 0.5s;

}

a:hover {
  color: white;
  background-color: #CA3F72;
  transform: translateX(0px) translateX(12px);
}

@keyframes card {
  from {transform: translateY(50%);
  opacity: 0;
  background-color: white;}
  to {transform: translateY(0%);
  opacity: 0.5;
  background-color: white;}
}

.card:hover {
  transform: translateY(-8%);
  opacity: 1;
}

#buttons_container {
  width: 336px;
  display: flex;
  justify-content: space-evenly;
}
