html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  text-align: center;
}

#hero {
  background-color: #c4eaff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

h1 {
  font-size: 67.34px;
  margin: 10px auto;
  margin-top: 32px;
}

#title{
  font-family: 'Playfair Display';
  font-weight: 900;
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

h3 {
  font-family: 'Roboto Flex';
  font-size: 22.43px;
}

#description {
  margin-top: 0px;
}

#hero_showcase {
  display: flex;
  justify-content: space-around;
  width: 920px;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 22px;
}

.card {
  background-color: white;
  opacity: 50%;
  border-radius: 16px;
  animation-name: card;
  transition: 0.5s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.36,
    0.72,
    0.63,
    0.98);
}

#c1, #c3 {
  width: 216px;
  height: 328px;

}

#c2 {
  width: 380px;
  height: 440px;
}

a {
  color:black;
  text-decoration: none;
  padding: 8px 22px;
  border: 3px solid #8557EF;
  border-radius: 40px;
  font-size: 16px;
  transition: 0.75s;

}

a:hover {
  background-color: #aa88fa;
}

@keyframes card {
  from {transform: translateY(50%);
  opacity: 0;
  background-color: white;}
  to {transform: translateY(0%);
  opacity: 0.5;
  background-color: white;}
}

.card:hover {
  padding: 12px;
  opacity: 1;
}
