<div>
  <h1 id="title">Mia Jimenez</h1>
  <h3>Web Designer & Developer</h3>

  <div id="hero_showcase">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>

  <button id="contact">Contact</button>
</div>
