<div id="hero">
  <h1 id="title">Mia Jimenez</h1>
  <h3 id="description">Web Designer & Front-end Developer</h3>

  <div id="hero_showcase">
    <div id="c1" class="card"></div>
    <div id="c2" class="card"></div>
    <div id="c3" class="card"></div>
  </div>

  <h3 id="contact"><a href="">CONTACT</a></h3>
</div>
