<div id="content">
  <div id="hero">

    <div id="banner">
      <h1 id="title">Mia Jimenez</h1>
      <h3 id="description">Web Designer & Front-end Developer</h3>
    </div>

    <div id="hero_showcase">
      <img id="img1" class="item" src="https://ual-media-res.cloudinary.com/image/fetch/c_fill,f_auto,fl_lossy,g_auto,q_auto/https://www.arts.ac.uk/__data/assets/image/0024/15648/Camberwell-BA-Graphic-Design-Tom-Guildmard.jpg" alt="example">
      <img id="img2" class="item" src="https://ual-media-res.cloudinary.com/image/fetch/c_fill,f_auto,fl_lossy,g_auto,q_auto/https://www.arts.ac.uk/__data/assets/image/0024/15648/Camberwell-BA-Graphic-Design-Tom-Guildmard.jpg" alt="example">
      <img id="img3" class="item" src="https://ual-media-res.cloudinary.com/image/fetch/c_fill,f_auto,fl_lossy,g_auto,q_auto/https://www.arts.ac.uk/__data/assets/image/0024/15648/Camberwell-BA-Graphic-Design-Tom-Guildmard.jpg" alt="example">
    </div>

    <div id="buttons_container">
      <h3 id="contact"><a href="">CONTACT</a></h3>
    </div>
  </div>
</div>
